.nav-menu__button {
    position: absolute;
    top: 10px;
    right: 10px;

    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
    @extend %centeredFlex;
    color: getColor('secondary-text-color');

    transition: color 250ms $timingFunction;

    &:hover, &:focus {
        color: getColor('accent-color');
    }
}