.hero {
  background-color: getColor('secondary-bg-color');
  @extend %backgroundImagePositioning;
  background-size: cover;
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  margin-right: auto;
  margin-left: auto;
  max-width: 480px;
  max-height: 400px;
  @media screen and (max-width: 767px) {
    background-image: linear-gradient(
      getColor('hero-bg-gradient-start-color'),
      getColor('hero-bg-gradient-end-color')
    ), url('../../../images/hero-background-image-mobile.jpg');
  }
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
      getColor('hero-bg-gradient-start-color'),
      getColor('hero-bg-gradient-end-color')
    ), url('../../../images/hero-background-image-mobile@2x.jpg');
  }
}

.hero__title {
  @extend %heroFont;
  margin-top: 0;
  margin-bottom: 30px;
}
