.back-drop {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: getColor('back-drop-color');
    opacity: 1;
    visibility: visible;
    transition: opacity 250ms $timingFunction, visibility $timingFunction 250ms;
}

.modal {
    position: absolute;
    top: 50%;
    right: 50%;
    width: calc(100% - 30px);
    min-height: 609px;
    transform: translate(50%, -50%) scale(1);
    background-color: getColor('primary-bg-color');
    box-shadow: 0px 1px 3px getColor('tertiary-shadow-color'), 0px 1px 1px getColor('secondary-team-card-shadow-color'), 0px 2px 1px getColor('tertiary-team-card-shadow-color');
    border-radius: 4px;
    padding: 40px;
    transition: transform 250ms $timingFunction;
}

.modal__modal-close-button {
    position: absolute;
    top: 8px;
    right: 8px;
    @extend %centeredFlex;
    border-radius: 50%;
    background-color: getColor('primary-bg-color');
    border: 1px solid getColor('secondary-shadow-color');
    width: 30px;
    height: 30px;
    cursor: pointer;
    color: getColor('close-icon-color');

    transition: color 250ms $timingFunction;

    &:hover, &:focus {
        color: getColor('accent-color');
    }
}

.modal__close-icon {
    fill: currentColor;
}

.contact-data-form__title {
    @extend %modalTitleFont;

    margin-top: 0;
    margin-bottom: 12px;
}

.сontact-data-form__label {
    position: relative;
    display: block;

    @extend %modalLabelFont;
}

.сontact-data-form__label:not(:first-child) {
    margin-top: 10px;
}

.contact-data-form__name {
    
}

.сontact-data-form__input {
    @include input();

    &:focus {
        border-color: getColor('accent-color');
    }
}

.contact-data-form__icon {
    position: absolute;
    bottom: 11px;
    left: 12px;
    fill: getColor('secondary-text-color');
    transition: fill 250ms $timingFunction;

    .сontact-data-form__label:focus-within & {
        fill: getColor('accent-color');
    }
}

.contact-data-form__comment {
    @include input($padding-left: 16px);

    resize: none;

    &:focus {
        border-color: getColor('accent-color');
    }

    &::placeholder {
        @extend %modalCommentPlaceholderFont;
    }
}

.сontact-data-form__label--checkbox {
    @extend %modalCheckboxTextFont;
    text-align: center;
    display: block;
    margin-top: 20px;
}

.checkbox-group {
  position: relative;
  display: inline-block;
  margin-right: 7px;
  width: 16px;
  height: 15px;
  vertical-align: bottom;
}

.checkbox-group__checkbox-icon {
    position: absolute;
  top: 0;
  left: 0;
  fill: getColor('secondary-text-color');
}

.checkbox-group__checked-icon {
    position: absolute;
  top: 0;
  left: 0;
  fill: transparent;
}

.сontact-data-form__terms-checkbox:checked + .checkbox-group > .checkbox-group__checkbox-icon {
  fill: transparent;
}

.сontact-data-form__terms-checkbox:checked + .checkbox-group > .checkbox-group__checked-icon  {
  fill: getColor('accent-color');
}

.сontact-data-form__link {
    color: getColor('accent-color');
}

.contact-data-form__button {
    display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}