.buttons-list {
    @extend %list;
    display: flex;

    @media screen and (max-width: 767px) {
        flex-wrap: wrap;
        max-width: 340px;
        margin-bottom: 40px;
    }
}

.buttons-list__item:not(:last-child) {
    margin-right: 8px;
}

.buttons-list__item:nth-child(-n + 3) {
    @media screen and (max-width: 767px) {
        margin-bottom: 15px;
    }
}