.form-send-out {
    width: 100%;
}

.form-send-out__title {
    @extend %tertiaryTitleFont;
    margin-top: 0;
    margin-bottom: 20px;
}

.form-send-out__label {
    display: block;
}

.form-send-out__input {
    @extend %page-footerInputPlaceholderFont;

    padding: 15px 16px;
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid getColor('send-out-input-border-color');
    border-radius: 4px;
    filter: drop-shadow(0px 4px 4px getColor('primary-shadow-color'));
    background-color: transparent;

    &::placeholder {
        @extend %page-footerInputPlaceholderFont;
    }
}