.clients__title {

}

.clients__list {

}

.clients__item {
    @media screen and (min-width: $tablet) {
        width: calc((100% - 30px * 2)/3);
    }
}

.clients__item:not(:nth-child(3n + 3)) {
    @media screen and (min-width: $tablet) and (max-width: 1199px) {
        margin-right: 30px;
    }
}

.clients__item:nth-child(-n + 3) {
    @media screen and (min-width: $tablet) and (max-width: 1199px) {
        margin-bottom: 30px;
    }
}

.clients__link {

}

.clients__icon {

}