.gallery-card {
    @media screen and (min-width: $tablet) {
        width: calc((100% - 30px)/2);
        
    }
}

.gallery-card:nth-child(2n) {
    @media screen and (min-width: $tablet) and (max-width: 1199px) {
        margin-left: 30px;
    }
}

.gallery-card:not(:nth-child(n + 8)) {
    @media screen and (min-width: $tablet) and (max-width: 1199px) {
        margin-bottom: 30px;
    }
}

.gallery-card__link {

}

.gallery-card__body {

}

.gallery-card__thumb {

}
.gallery-card__overlay {
    @media screen and (min-width: $tablet) {
        padding: 47px 24px;
    }
}

.gallery-card__footer {
    
}

.gallery-card__title {

}

.gallery-card__text {

}