.site-navigation__list {
    @media screen and (min-width: $tablet) {
        display: flex;
        margin-left: 87px;
    }
}

.site-navigation__item:not(:first-child) {
    @media screen and (min-width: $tablet) {
        margin-left: 50px;
    }
}

.site-navigation__link {
    @media screen and (min-width: $tablet) {
        display: inline-block;
        padding-top: 32px;
        padding-bottom: 32px;
    }
}