.site-navigation {
    @media screen and (min-width: $tablet) {
        margin-left: 87px;
    }
}

.site-navigation__list {
    @media screen and (min-width: $tablet) {
        display: flex;
    }
}

.site-navigation__item:not(:first-child) {
    @media screen and (min-width: $tablet) {
        margin-left: 50px;
    }
}

.site-navigation__link {
    @media screen and (min-width: $tablet) {
        display: inline-block;
        padding-top: 32px;
        padding-bottom: 32px;
    }
}

.site-navigation__link--current {
    @media screen and (min-width: $tablet) {
        position: relative;
        color: getColor('accent-color');
    }
}

.site-navigation__link--current::after {
    @media screen and (min-width: $tablet) {
        content: '';
        position: absolute;
        bottom: -1px;
        left: 0;
        height: 4px;
        width: 100%;
        background-color: getColor('accent-color');
        border-radius: 2px; 
    }
}