.clients__list {
    @media screen and (min-width: $desktop) {
        flex-wrap: nowrap;
    }
}

.clients__item {
    @media screen and (min-width: $desktop) {
        width: calc((100% - 30px * 5)/6);
    }
}

.clients__item:not(:last-child) {
    margin-right: 30px;
}