.hero {
  @media screen and (min-width: $desktop) {
    background-image: linear-gradient(
      getColor('hero-bg-gradient-start-color'),
      getColor('hero-bg-gradient-end-color')
    ), url('../images/hero-background-image-desktop.jpg');
    max-width: 1600px;
    max-height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;      
  }
}

@media screen and (min-width: $desktop) {

    @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        .hero {
            background-image: linear-gradient(
            getColor('hero-bg-gradient-start-color'),
            getColor('hero-bg-gradient-end-color')
            ), url('../images/hero-background-image-desktop@2x.jpg');
        }
    }
}

.container--hero {
    @media screen and (min-width: $desktop) {
        padding-right: 237px;
        padding-left: 237px;
    }
}



