.team-card {
    @media screen and (min-width: $desktop) {
        width: calc((100% - 30px * 3)/4);
    }
}

.team-card:not(:last-child) {
    @media screen and (min-width: $desktop) {
        margin-right: 30px;
    }
}

.team-card__footer {
    @media screen and (min-width: $desktop) {
        padding-bottom: 30px;
    }
}
